<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vote Count</title>
</head>
<body>
  <h1>Vote Count Page</h1>
  <!-- Display vote count or any admin-related content -->
  <p>Vote count will be displayed here.</p>


  <p> candidate 1 : <%= locals.candidate_1 %></p>
  <p> candidate 2 : <%= locals.candidate_2 %></p>
  <p> candidate 3 : <%= locals.candidate_3 %></p>
  <p> candidate 4 : <%= locals.candidate_4 %></p>



  <a href = "/logout">Logout</a>

  
</body>
</html>
